.banner{
    background-image: url('https://www.wegotlites.com/assets/images/wgl-holiday-banners/HS_Desktop.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}
.card{
    width: 250px;
    height: 500px;
    margin: 10px;
    padding: 30px;
}
.card-img-top{
    width: 100%;
    height: 200px;
    transition: 2s;
}
.card-img-top:hover{
    transform: scale(1.1);
    transition: 2s;
}