 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-light" routerLink=""> <i class="fa-solid fa-cart-shopping fa-shake me-2 text-white"></i> Shop N Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="ms-5 collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0 ms-lg-4">
               <input (keyup)="search($event)" type="text" placeholder="Search By Item Name" class="form-control">

               <!-- ng g p products/pipes/filter -->

            </ul>
            <form class="d-flex ">
                <button routerLink="products/wishlist" class="btn btn-outline-light me-5 " type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Wishlist
                   
                </button>
                <button routerLink="products/cart" class="btn btn-outline-light" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{cartCountValue}}</span>
                </button>
            </form>
        </div>
    </div>
</nav>


